[submodule "app_minecraft"]
	path = app_minecraft
	url = git://github.com/riyic/app_minecraft.git
[submodule "app_moodle"]
	path = app_moodle
	url = git://github.com/riyic/app_moodle.git
[submodule "app_odoo"]
	path = app_odoo
	url = git://github.com/riyic/app_odoo.git
[submodule "app_owncloud"]
	path = app_owncloud
	url = git://github.com/riyic/app_owncloud.git
[submodule "app_perl"]
	path = app_perl
	url = git://github.com/riyic/app_perl.git
[submodule "app_php"]
	path = app_php
	url = git://github.com/riyic/app_php.git
[submodule "app_phplist"]
	path = app_phplist
	url = git://github.com/riyic/app_phplist.git
[submodule "app_python"]
	path = app_python
	url = git://github.com/riyic/app_python.git
[submodule "app_redmine"]
	path = app_redmine
	url = git://github.com/riyic/app_redmine.git
[submodule "app_ruby"]
	path = app_ruby
	url = git://github.com/riyic/app_ruby.git
[submodule "appserver_fpm"]
	path = appserver_fpm
	url = git://github.com/riyic/appserver_fpm.git
[submodule "appserver_nginx"]
	path = appserver_nginx
	url = git://github.com/riyic/appserver_nginx.git
[submodule "appserver_uwsgi"]
	path = appserver_uwsgi
	url = git://github.com/riyic/appserver_uwsgi.git
[submodule "app_wordpress"]
	path = app_wordpress
	url = git://github.com/riyic/app_wordpress.git
[submodule "code_repo"]
	path = code_repo
	url = git://github.com/riyic/code_repo.git
[submodule "dbs_mongodb"]
	path = dbs_mongodb
	url = git://github.com/riyic/dbs_mongodb.git
[submodule "dbs_mysql"]
	path = dbs_mysql
	url = git://github.com/riyic/dbs_mysql.git
[submodule "dbs_postgresql"]
	path = dbs_postgresql
	url = git://github.com/riyic/dbs_postgresql.git
[submodule "dbs_redis"]
	path = dbs_redis
	url = git://github.com/riyic/dbs_redis.git
[submodule "lang_java"]
	path = lang_java
	url = git://github.com/riyic/lang_java.git
[submodule "lang_nodejs"]
	path = lang_nodejs
	url = git://github.com/riyic/lang_nodejs.git
[submodule "lang_perl"]
	path = lang_perl
	url = git://github.com/riyic/lang_perl.git
[submodule "lang_php"]
	path = lang_php
	url = git://github.com/riyic/lang_php.git
[submodule "lang_python"]
	path = lang_python
	url = git://github.com/riyic/lang_python.git
[submodule "lang_ruby"]
	path = lang_ruby
	url = git://github.com/riyic/lang_ruby.git
[submodule "mq_zeromq"]
	path = mq_zeromq
	url = git://github.com/riyic/mq_zeromq.git
[submodule "pcs_supervisor"]
	path = pcs_supervisor
	url = git://github.com/riyic/pcs_supervisor.git
[submodule "riyic"]
	path = riyic
	url = git://github.com/riyic/riyic.git
[submodule "shell_lshell"]
	path = shell_lshell
	url = git://github.com/riyic/shell_lshell.git
[submodule "system_cron"]
	path = system_cron
	url = git://github.com/riyic/system_cron.git
[submodule "system_group"]
	path = system_group
	url = git://github.com/riyic/system_group.git
[submodule "system_openssh"]
	path = system_openssh
	url = git://github.com/riyic/system_openssh.git
[submodule "system_package"]
	path = system_package
	url = git://github.com/riyic/system_package.git
[submodule "system_user"]
	path = system_user
	url = git://github.com/riyic/system_user.git
